@import '../../styles/utils';

.card {
  width: 265px;
  min-height: 475px;

  margin-top: 12px;
  padding: 30px 10px;

  border: 1px solid getColor('txt-black');
  border-radius: 10px;

  @media screen and (min-width: $mobile) {
    padding: 30px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    padding: 30px 35px;
  }

  @media screen and (min-width: $laptop) {
    width: 280px;
    padding: 30px 16px;
  }

  @media screen and (min-width: $laptop-L) {
    width: 410px;
    margin-top: 57px;
    padding: 60px 55px;
  }

  @media screen and (min-width: $desktop) {
    // width: 460px;
    padding: 60px 80px;
  }
}

.imgWrapper {
  max-width: 283px;
  max-height: 283px;

  margin: 0 auto;

  background-color: getColor('body-bg');

  @media screen and (min-width: $desktop) {
    max-width: 300px;
    max-height: 300px;
  }
}

.infoWrapper {
  max-width: 283px;

  margin: 16px auto 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.name {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;
}

.info {
  color: getColor('txt-black');

  font-size: 14px;
  font-weight: 400;
}

.btn {
  width: 100%;

  margin-top: 20px;
  padding: 8px;

  color: getColor('text');
  background-color: getColor('accent');
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 600;

  @media screen and (min-width: $laptop-L) {
    height: 77px;
  }
}

// .card {
//   max-width: 343px;

//   margin-top: 12px;
//   padding: 30px;

//   border: 1px solid var(--color-txt-black);
//   border-radius: 10px;
// }

// .img {
//   width: 283px;
//   height: 283px;

//   background-color: grey;
// }

// .infoWrapper {
//   width: 283px;

//   margin-top: 16px;

//   display: flex;
//   flex-direction: column;
//   gap: 12px;
// }

// .name {
//   color: var(--color-txt-black);

//   font-size: 18px;
//   font-weight: 600;
// }

// .info {
//   color: var(--color-txt-black);

//   /* text-align: justify; */
//   font-size: 14px;
//   font-weight: 400;
// }

// .btn {
//   width: 283px;
//   height: 40px;

//   margin-top: 20px;
//   padding: 8px 60px;

//   color: var(--color-text);
//   background-color: var(--color-accent);
//   border: none;
//   border-radius: 10px;

//   color: var(--color-text);

//   font-size: 18px;
//   font-weight: 600;
// }
