@import '../../styles/utils';

.card {
  width: 265px;

  padding: 30px 10px;

  border: 1px solid getColor('txt-black');
  border-radius: 10px;

  @media screen and (min-width: $mobile) {
    padding: 30px;
  }

  @media screen and (min-width: $tablet) {
    padding: 30px 35px;
  }

  @media screen and (min-width: $laptop) {
    width: 280px;

    padding: 28px 16px;
  }

  @media screen and (min-width: $laptop-L) {
    width: 410px;

    padding: 60px 35px;
  }

  @media screen and (min-width: $desktop) {
    padding: 60px;
  }
}

.imgWrapper {
  max-width: 283px;
  max-height: 283px;

  margin: 0 auto;

  background-color: getColor('body-bg');

  @media screen and (min-width: $desktop) {
    max-width: 300px;
    max-height: 300px;
  }
}

.infoWrapper {
  margin: 16px auto 0;

  @include flexAlign();
  flex-direction: column;
  gap: 12px;
}

.name {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $laptop-L) {
    font-size: 24px;
  }
}

.info {
  color: getColor('txt-black');

  font-size: 14px;
  font-weight: 400;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    font-weight: 600;
  }

  @media screen and (min-width: $laptop-L) {
    font-size: 18px;
  }
}

.btn {
  width: 100%;

  margin: 20px auto 0;
  padding: 8px;

  display: block;

  color: getColor('text');
  background-color: getColor('accent');
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 500;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  @media screen and (min-width: $laptop-L) {
    max-width: 273px;

    padding: 20px 55px;

    font-size: 20px;
  }
}
