@use '../../styles/utils' as *;
@use '../../styles/vars' as *;

.detailsModal {
  max-height: 90vh;

  margin: 0 auto;

  overflow: auto;

  @media screen and (min-width: $tablet) and (max-width: $laptop-L) {
    width: 700px;

    padding: 20px 20px;
  }

  @media screen and (min-width: $desktop) {
    width: 1000px;
  }
}

.imgWrapper {
  width: 180px;
  height: 180px;

  margin: 12px auto 0;

  background-color: getColor('body-bg');
  border: 2px solid getColor('img-border');
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    float: left;

    margin-right: 12px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $laptop) {
    width: 280px;
    height: 280px;
  }
}

.img {
  width: 100%;
}

.placeholderWrapper {
  @include flexAlign();
  width: 100%;
  height: 100%;

  background-color: getColor('body-bg');
  border-radius: 10px;
}

.imgPlaceholder {
  width: 50px;
}

.name {
  margin-top: 12px;

  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    margin-top: 0;

    font-size: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 32px;
  }
}

.price {
  margin-top: 12px;

  font-size: 24px;
  font-weight: 600;
  text-align: end;

  color: getColor('accent');

  @media screen and (min-width: $tablet) {
    font-size: 30px;
    text-align: start;
  }
}

.pricePlaceholder {
  margin-top: 12px;

  font-size: 18px;
  font-weight: 700;
  text-align: end;

  color: getColor('accent');

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.moreInfoWrapper {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 100px;
  }
}

.infoWrapper {
  margin: 12px auto 0;
}

.title {
  font-size: 16px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 24px;
  }
}

.orderedListItem {
  display: list-item;
  list-style-position: inside;
  list-style-type: decimal;
}

.info {
  margin-top: 8px;
  color: getColor('txt-black');

  font-size: 14px;
  font-weight: 400;
  text-align: start;

  @media screen and (min-width: $tablet) {
    margin-top: 12px;

    font-size: 16px;
  }
}
