@font-face {
  font-family: 'Outfit';
  src:
    local('Outfit'),
    url('./Outfit-Medium.ttf') format('truetype'),
    url('./Outfit-Regular.ttf') format('truetype'),
    url('./Outfit-SemiBold.ttf') format('truetype'),
    url('./Outfit-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
