.stock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 343px;

  @media screen and (min-width: 744px) {
    max-width: 744px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 1462px;
  }
}

.title {
  color: var(--color-txt-black);

  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.card {
  max-width: 343px;

  margin-top: 12px;
  padding: 30px;

  border: 1px solid var(--color-txt-black);
  border-radius: 10px;
}

.img {
  width: 283px;
  height: 283px;

  background-color: var(--color-body-bg);
}

.infoWrapper {
  width: 283px;

  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  color: var(--color-txt-black);

  font-size: 18px;
  font-weight: 600;
}

.info {
  color: var(--color-txt-black);

  font-size: 14px;
  font-weight: 400;
}

.btn {
  width: 283px;
  height: 40px;

  margin-top: 20px;
  padding: 8px 60px;

  color: var(--color-text);
  background-color: var(--color-accent);
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 600;
}

.swiperPagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  color: red;
}

.swiperPagination {
  :global(.swiper-pagination-bullet) {
    width: 15px;
    height: 15px;

    background-color: var(--color-text);
    border: 1px solid var(--color-txt-black);
    opacity: 1;

    border-radius: 50%;
  }

  :global(.swiper-pagination-bullet-active) {
    width: 15px;
    height: 15px;

    background-color: var(--color-txt-black);
  }
}
