@import '../../styles/utils';

.section {
  @include section();
}

.container {
  @include container();
}

.title {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 32px;
  }
}

.spinner {
  width: 100px;
  height: 100px;

  margin: 0 auto;

  display: block;

  @media screen and (min-width: $tablet) {
    width: 120px;
    height: 120px;
  }
  @media screen and (min-width: $laptop) {
    width: 160px;
    height: 160px;
  }
  @media screen and (min-width: $laptop-L) {
    width: 180px;
    height: 180px;
  }
  @media screen and (min-width: $desktop) {
    width: 200px;
    height: 200px;
  }
}

.swiper {
  margin-top: 16px;

  @media screen and (min-width: $tablet) {
    margin-top: 38px;
  }
  @media screen and (min-width: $laptop) {
    margin-top: 32px;
  }
  @media screen and (min-width: $laptop-L) {
    margin-top: 67px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 57px;
  }
}

.slide {
  display: flex;
  justify-content: center;
}

.swiperPagination {
  @include flexAlign();

  margin-top: 10px;
  color: red;
}

.swiperPagination {
  :global(.swiper-pagination-bullet) {
    width: 15px;
    height: 15px;

    background-color: getColor('text');
    border: 1px solid getColor('txt-black');
    opacity: 1;

    border-radius: 50%;
  }

  :global(.swiper-pagination-bullet-active) {
    width: 15px;
    height: 15px;

    background-color: getColor('txt-black');
  }
}
