@import '../../styles/utils';

.section {
  padding: 40px 0 40px 0;
}

.container {
  padding: 0 16px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.title {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.card {
  max-width: 343px;

  margin-top: 12px;
  padding: 30px;

  border: 1px solid getColor('txt-black');
  border-radius: 10px;
}

.img {
  width: 283px;
  height: 283px;

  background-color: getColor('body-bg');
}

.infoWrapper {
  width: 283px;

  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;
}

.info {
  color: getColor('txt-black');

  font-size: 14px;
  font-weight: 400;
}

.btn {
  width: 283px;
  height: 40px;

  margin-top: 20px;
  padding: 8px 60px;

  color: getColor('text');
  background-color: getColor('accent');
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 600;
}

.swiperPagination {
  @include flexAlign();

  margin-top: 10px;
  color: red;
}

.swiperPagination {
  :global(.swiper-pagination-bullet) {
    width: 15px;
    height: 15px;

    background-color: getColor('text');
    border: 1px solid getColor('txt-black');
    opacity: 1;

    border-radius: 50%;
  }

  :global(.swiper-pagination-bullet-active) {
    width: 15px;
    height: 15px;

    background-color: getColor('txt-black');
  }
}
