@import '../../styles/utils';

.section {
  padding: 152px 0 120px;

  background-image: url(../../assets/images/hero/hero-mob1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../assets/images/hero/hero-mob2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    padding: 155px 0 70px;

    background-image: url(../../assets/images/hero/hero-tabl1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../assets/images/hero/hero-tabl2x.jpg);
    }
  }

  @media screen and (min-width: $laptop) {
    padding: 215px 0 150px;

    background-image: url(../../assets/images/hero/hero-lap1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../assets/images/hero/hero-lap2x.jpg);
    }
  }

  @media screen and (min-width: $laptop-L) {
    padding: 252px 0 240px;

    background-image: url(../../assets/images/hero/hero-lapl1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../assets/images/hero/hero-lapl2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 260px 0 235px;

    background-image: url(../../assets/images/hero/hero-desk1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../../assets/images/hero/hero-desk2x.jpg);
    }
  }
}

.container {
  @include container();
}

.title {
  color: getColor('text');

  font-size: 32px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    max-width: 435px;

    margin: 0;
  }

  @media screen and (min-width: $laptop) {
    max-width: 868px;

    margin: 0;

    font-size: 64px;
    font-weight: 700;
  }
}

.text {
  margin-top: 40px;

  color: getColor('text');

  font-size: 18px;
  font-weight: 500;
  word-spacing: 4px;

  @media screen and (min-width: $tablet) {
    margin-top: 30px;

    max-width: 435px;
  }

  @media screen and (min-width: $laptop) {
    max-width: 720px;

    margin-top: 60px;

    font-weight: 600;
    font-size: 32px;
  }
}

.actionBtn {
  width: 100%;

  margin-top: 131px;
  padding: 10px;

  color: getColor('text');
  background-color: getColor('accent');

  border: none;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 600;
  transition: 0.1s;

  &:hover,
  &:focus {
    background-color: getColor('hover');
    transform: scale(1.03);
  }

  @media screen and (min-width: $tablet) {
    max-width: 230px;

    margin-top: 50px;
    padding: 12px 10px;
  }

  @media screen and (min-width: $laptop) {
    max-width: 273px;

    margin-top: 80px;
    padding: 25px 8.5px;

    font-size: 20px;
  }
}
