.container {
  max-width: var(--mobile);
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */

  @media screen and (min-width: 664px) {
    max-width: 664px;
  }
  @media screen and (min-width: 1462px) {
    max-width: 1462px;
  }
}
