:root {
  --color-main: #ffffff;
  --color-text: #f1f1f1;
  --color-hover: #066fb2;
  --footer-bg: #061b29;

  --gradient-header: linear-gradient(
    180deg,
    #080808 0%,
    rgba(8, 8, 8, 0.86) 23.44%,
    rgba(8, 8, 8, 0.71) 42.71%,
    rgba(8, 8, 8, 0.47) 66.67%,
    rgba(8, 8, 8, 0) 100%
  );

  --mobile: 343px;
  --tablet: 664px;
  --desktop: 1462px;
}
