$mobile: 375px;
$tablet: 744px;
$laptop: 1024px;
$laptop-L: 1440px;
$desktop: 1920px;

$colors: (
  'body-bg': #f1f1f1,
  'main': #72b6d3,
  'text': #f1f1f1,
  'txt-black': #1a1a18,
  'accent': #0d6197,
  'err': #9d0707,
  'img-border': #7d7d7d,
  'footer-bg': #061b29,
  'burger-bg': #061b29,
  'backdrop': rgba(0, 0, 0, 0.7),
  'hover': #066fb2,
  'clicked': #05283f,
  'disabled': #7d7d7d,
);

$gradients: (
  'benefits': linear-gradient(180deg, #72b6d3 19%, #004572 86%),
  'header':
    linear-gradient(
      180deg,
      #080808 0%,
      rgba(8, 8, 8, 0.86) 23.44%,
      rgba(8, 8, 8, 0.71) 42.71%,
      rgba(8, 8, 8, 0.47) 66.67%,
      rgba(8, 8, 8, 0) 100%
    ),
);
