@use '../../styles/utils' as *;
@use '../../styles/vars' as *;

.section {
  @include section();
  & {
    padding-top: 80px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
  }

  @media screen and (min-width: $laptop) {
    padding-top: 80px;
  }

  @media screen and (min-width: $laptop-L) {
    padding-top: 150px;
  }
}

.container {
  @include container();
}

.title {
  color: getColor('txt-black');

  font-size: 18px;
  font-weight: 600;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: $laptop) {
    font-size: 32px;
  }
}

.textWrapper {
  margin-top: 16px;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 32px;
  }
}

.text {
  margin-top: 16px;

  color: #{getColor('txt-black')};

  text-align: justify;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 24px;
    font-size: 16px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 0;
    font-size: 18px;
  }
}

.textStrong {
  color: #{getColor('txt-black')};

  font-weight: 600;
}

.decor {
  display: none;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    width: 664px;
    height: 161px;

    display: block;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 32px;

    width: 864px;
    height: 210px;
  }

  @media screen and (min-width: $laptop-L) {
    margin-top: 60px;

    width: 1166px;
    height: 305px;
  }
}

.svg {
  width: inherit;
  height: inherit;
}
