@use '../../styles/utils' as *;
@use '../../styles//vars' as *;

.section {
  @include section();
  & {
    padding-bottom: 80px;
  }

  @media screen and (min-width: $laptop) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: $laptop-L) {
    padding-bottom: 150px;
  }
}

.container {
  @include container();

  @media screen and (min-width: $laptop) {
    background-image: url(../../assets/images/form-decor-small.svg);
    background-position: 75px 75px;
    background-repeat: no-repeat;
    background-size: 85%;
  }

  @media screen and (min-width: $laptop-L) {
    background-image: url(../../assets/images/form-decor-medium.svg);
    background-position: 150px 75px;
    background-size: 80%;
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../../assets/images/form-decor-big.svg);
    background-position: 250px 55px;
    background-size: 75%;
  }
}

.title {
  @include title();
}
