.header {
  position: fixed;

  width: 100%;
  height: 72px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--gradient-header);
}

.container {
  width: 343px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* width: 100px; */
  /* height: 70px; */

  /* background-color: red; */
  /* border-radius: 70%; */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts {
  color: var(--color-text);
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.burgerBtn {
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: transform 0.3s;
}

.btnIcon {
  fill: var(--color-text);

  &:hover,
  &:focus {
    fill: var(--color-hover);
    transform: scale(0.9);
    transition: 0.3s;
  }
}
