@use '../../../styles/utils' as *;
@use '../../../styles/vars' as *;

.header {
  position: fixed;
  z-index: 2;

  width: 100%;
  height: 72px;

  @include flexAlign();

  background: getGradient('header');

  @media screen and (min-width: $tablet) {
    height: 115px;
  }

  @media screen and (min-width: $laptop-L) {
    height: 140px;
  }
}

.container {
  width: 100%;
  padding: 0 16px;

  @include flexAlign(flex, space-between);

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }

  @media screen and (min-width: $laptop-L) {
    padding: 0 80px;
  }
}

.navbar {
  @include flexAlign();
}

.logo {
  width: fit-content;

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.logoImg {
  width: 58px;
  height: 36px;

  @media screen and (min-width: $tablet) {
    width: 96px;
    height: 60px;
  }

  @media screen and (min-width: $laptop) {
    width: 156px;
    height: 60px;
  }
}

.navlist {
  display: none;

  @media screen and (min-width: $laptop-L) {
    margin-left: 48px;

    display: flex;
    gap: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 130px;

    gap: 60px;
  }
}

.navlistItem {
  @include flexAlign();

  color: getColor('text');

  font-size: 18px;
  font-weight: 600;

  &:hover,
  &:focus {
    // color: getColor('hover');
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.toHome {
  display: none;

  @media screen and (min-width: $laptop-L) {
    display: block;

    margin-left: 40px;

    color: getColor('text');

    font-size: 18px;
    font-weight: 600;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 130px;
  }
}

.contacts {
  display: none;

  @media screen and (min-width: $laptop-L) {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  @media screen and (min-width: $desktop) {
    gap: 90px;
  }
}

.telBtn {
  font-size: 16px;
}

.icon {
  width: 40px;
  height: 40px;

  margin-right: 20px;

  color: currentColor;
}

.burgerBtn {
  width: 40px;
  height: 40px;

  padding: 0;

  @include flexAlign();

  background-color: transparent;
  border: none;

  transition: transform 0.3s;

  @media screen and (min-width: $laptop-L) {
    display: none;
  }
}

.backBtn {
  @media screen and (min-width: $laptop-L) {
    display: none;
  }
}

.backIcon {
  width: 35px;
  height: 35px;
}

.btnIcon {
  width: 40px;
  height: 40px;

  color: getColor('text');

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
