@import '../../../styles/utils';

.header {
  position: fixed;
  z-index: 2;

  width: 100%;
  height: 72px;

  @include flexAlign();

  background: getGradient('header');

  @media screen and (min-width: $tablet) {
    height: 115px;
  }

  @media screen and (min-width: $desktop) {
    height: 140px;
  }
}

.container {
  width: 100%;
  padding: 0 16px;

  @include flexAlign(flex, space-between);

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 80px;
  }
}

.navbar {
  @include flexAlign();
}

.logo {
  width: 90px;

  @media screen and (min-width: $tablet) {
    width: 120px;
  }

  @media screen and (min-width: $desktop) {
    width: 145px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.navlist {
  display: none;

  @media screen and (min-width: $desktop) {
    margin-left: 130px;

    display: flex;
    gap: 60px;
  }
}

.navlistItem {
  color: getColor('text');
  font-size: 18px;
  font-weight: 600;
}

.contacts {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 90px;
  }
}

.burgerBtn {
  padding: 0;

  @include flexAlign();

  background-color: transparent;
  border: none;

  transition: transform 0.3s;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.btnIcon {
  fill: getColor('text');

  &:hover,
  &:focus {
    fill: getColor('hover');
    transform: scale(1.1);
    transition: 0.3s;
  }
}
