@import '../../styles/utils';

.burgerList {
  position: absolute;
  top: 60px;
  right: 16px;

  padding: 28px 20px;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 28px;

  border-radius: 10px;
  background-color: getColor('burger-bg');

  @media screen and (min-width: $tablet) {
    top: 80px;
    right: 40px;
  }
}

.burgerListItem {
  color: getColor('text');

  font-size: 18px;
  font-weight: 600;

  &:hover {
    color: getColor('hover');
  }
}

.btnDisabled {
  color: getColor('disabled');

  font-size: 18px;
  font-weight: 600;
}
