@use '../../styles/utils' as *;
@use '../../styles/vars' as *;

.burgerList {
  position: absolute;
  top: 60px;
  right: 16px;

  padding: 28px 20px;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 28px;

  border-radius: 10px;
  background-color: getColor('burger-bg');

  @media screen and (min-width: $tablet) {
    top: 80px;
    right: 40px;
  }
}

.burgerListItem {
  color: getColor('text');

  font-size: 18px;
  font-weight: 600;

  transition: 0.1s;

  &:hover {
    color: getColor('hover');
  }
}

.divider {
  width: 70px;

  margin: -10px auto;

  border: 0;
  border-top: 2px solid getColor('accent');
}

.monitoringBtn {
  @include flexAlign();
}

.icon {
  width: 35px;
  height: 35px;

  margin-left: 12px;

  color: currentColor;
}
