.container {
  max-width: 343px;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: var(--tablet)) {
    max-width: var(--tablet);
  }
  @media screen and (min-width: var(--desktop)) {
    max-width: var(--desktop);
  }
}

.title {
  color: var(--color-txt-black);

  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.itemNum {
  background: var(--gradient-benefits);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 90px;
  font-weight: 600;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-txt-black);

  text-align: justify;
  font-size: 14px;
  font-weight: 500;
}
