@import '../../../styles/utils.scss';

.footer {
  position: relative;
  padding: 30px 0 60px 0;

  background-color: getColor('footer-bg');

  @media screen and (min-width: $tablet) {
    padding: 50px 0 60px 0;
  }

  @media screen and (min-width: $laptop) {
    padding: 60px 0;
  }

  @media screen and (min-width: $laptop-L) {
    padding: 70px 0;
  }
}

.container {
  @include container();
}

.logo {
  width: fit-content;

  margin: 0 auto;

  display: block;

  @media screen and (min-width: $laptop) {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logoImg {
  width: 58px;
  height: 36px;

  @media screen and (min-width: $tablet) {
    width: 96px;
    height: 60px;
  }

  @media screen and (min-width: $laptop) {
    width: 156px;
    height: 60px;
  }
}

.contactsWrapper {
  margin-top: 70px;

  @media screen and (min-width: $tablet) {
    margin-top: 80px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 0;
  }
}

.list {
  font-size: 16px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 40% 40% 20%;

    font-size: 18px;
    font-weight: 600;
  }

  @media screen and (min-width: $laptop) {
    grid-template-columns: 30% 50% 20%;
  }

  @media screen and (min-width: $laptop-L) {
    grid-template-columns: 20% 60% 20%;
  }
}

.item {
  margin-top: 12px;

  &:nth-child(1) {
    margin-top: 0;
  }
  @media screen and (min-width: $tablet) {
    grid-column: 1;
    margin-top: 30px;

    &:nth-child(3) {
      margin-top: 0;

      grid-column: 3;
      grid-row: 1;
    }
    &:nth-child(4) {
      grid-column: 3;
      grid-row: 2;
    }
  }
}

.itemLink {
  display: flex;
  align-items: center;

  color: getColor('text');

  transition: 0.1s;

  &:hover,
  &:focus {
    color: getColor('hover');
  }
}

.img {
  width: 40px;
  height: 40px;

  margin-right: 10px;

  fill: getColor('text');
}

.copyrightWrapper {
  margin-top: 60px;

  @include flexAlign();

  @media screen and (min-width: $tablet) {
    margin-top: 100px;
  }

  @media screen and (min-width: $laptop) {
    margin-top: 190px;
  }
}

.copyrightImg {
  margin-right: 12px;

  width: 21px;
  height: 21px;

  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;

  color: getColor('text');

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    font-weight: 500;
  }
}

.utrack {
  font-size: 16px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    font-weight: 600;
  }
}

.tm {
  margin-right: 10px;

  font-size: 8px;
  font-weight: 400;
  vertical-align: text-top;

  @media screen and (min-width: $tablet) {
    margin-right: 12px;

    font-size: 10px;
  }
}
