.container {
  background-color: var(--footer-bg);
  color: var(--color-text);
}

.logo {
  width: 76px;
  height: 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 744px) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.title {
  display: inline;
  margin-left: 16px;
  margin-right: auto;

  text-align: center;

  font-family: Outfit;
  font-size: 20px;

  font-weight: 600;
  @media screen and (min-width: 744px) {
    font-size: 24px;
    letter-spacing: 0em;
    margin-left: 40px;
  }
}

.thumb_contacts {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-left: 16px;
  font-family: Outfit;
  line-height: 20px;
  letter-spacing: 0em;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 744px) {
  .thumb_contacts {
    gap: 30px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
  }

  .contacts_item:nth-child(2) {
    order: 3;
  }

  .contacts_item:nth-child(4) {
    order: 3;
  }
}

.contacts_item {
  @media screen and (min-width: 744px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.contacts {
  display: flex;
  align-items: center;

  color: currentColor;
  text-align: center;
  stroke: currentColor;

  text-decoration: none;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 744px) {
  }
}
.contacts:hover,
.contacts:focus {
  color: var(--color-hover);
}

.contacts_img {
  margin-right: 10px;
}

.address_thumb {
  display: flex;
  align-items: center;

  margin-left: 16px;
  margin-top: 16px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  width: 296px;
  color: currentColor;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.address_thumb:hover,
.address_thumb:focus {
  color: var(--color-hover);
}

.address_img {
  margin-right: 7px;
}

.text {
  text-align: center;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.utrack {
  font-size: 16px;
  font-weight: 500;
}

.team {
  vertical-align: text-top;
  font-size: 8px;
  margin-right: 13px;
}

.copyright_thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 63px;
  padding-bottom: 40px;
}
